.navbar {
    background-image: url("./../img/ornament.jpg");
    background-size: 100%;
    opacity: 0.4;
    height: 60px;
    z-index: -1;
}

.navbar-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-content button {
    color: #C3134C;
    border: none;
    background: none;
    position: absolute;
    top: 22px;
    left: 10px;
    font-size: 23px;
}

.navbar-content button:focus {
    outline: none;
}

.navbar-title {
    color: #3D3D3D;
    font-weight: 700;
    margin-top: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 60px);
}

.middle {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.middle img {
    width: 150px;
    height: 120px;
}

.middle h4 {
    margin: 25px 18%;
    text-align: center;
    font-weight: normal;
    color: #3D3D3D;
}

.calendar {
    width: 100%;
    flex: 0 0 auto;
}

.react-calendar {
    border: none;
}

.react-calendar__navigation {
    height: 44px;
    margin-bottom: 0;
    background-color: #F1F1F1
}

.react-calendar__navigation__label {
    pointer-events: none;
    color: #3D3D3D;
}

.react-calendar__navigation button {
    font-size: 17px;
}

.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
    background-color: #F1F1F1;
}

.react-calendar__month-view__weekdays {
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 0vh;
}

.react-calendar__month-view__days__day--weekend {
    color: #474747;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #D5D6DA;
}

.react-calendar__month-view__days button {
    border: 1.5px solid #D5D6DA;
    height: 50px;
    font-size: 16px;
}

.react-calendar__tile--now {
    background: none;
    color: #474747;
}

button.react-calendar__tile--active {
    border: 1.5px solid #C3134C;
}

.react-calendar__tile--now:enabled:hover, .react-calendar__tile--now:enabled:focus {
    background: none;
}

.react-calendar__tile--active {
    background: none;
    font-weight: bolder;
    color: #474747;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: none;
    color: #474747;
    border: 1.5px solid #C3134C;
}

.shedule {
    width: 100%;
}

.shedule-day {
    width: 100%;
    height: 45px;
    position: sticky;
    top: 0;
    background-color: white;
    color: #3D3D3D;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D5D6DA;
    ;
}

.serial {
    display: flex;
    margin: 25px 15px;
}

img.serial-image-medium {
    width: 70px;
    border-radius: 2px;
    box-shadow: 5px 5px 7px -1px rgba(209, 211, 214, 0.67);
    -webkit-box-shadow: 5px 5px 7px -1px rgba(209, 211, 214, 0.67);
    -moz-box-shadow: 5px 5px 7px -1px rgba(209, 211, 214, 0.67);
}

img.serial-image-origin {
    width: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px 1px rgba(209, 211, 214, 0.67);
    -webkit-box-shadow: 5px 5px 7px 1px rgba(209, 211, 214, 0.67);
    -moz-box-shadow: 5px 5px 7px 1px rgba(209, 211, 214, 0.67);
}

.serial-content {
    display: block;
    width: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.serial-name {
    font-weight: normal;
    font-size: 16px;
    color: #1d1c1c;
}

.serial-premiered {
    color: #D5D6DA;
    font-size: 15px;
    flex: 1 0 auto;
}

.serial-series {
    flex: 0 0 auto;
    width: 70%;
    min-width: 125px;
    height: 40px;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    color: #807d7d;
}

.serial-series span {
    margin: 5px;
}

.content-but {
    width: 100%;
}

.content-but button {
    width: calc(100% - 30px);
    height: 40px;
    margin: 0px 15px 20px;
    background: none;
    border-radius: 5px;
    border: 1px solid #D5D6DA;
    font-weight: normal;
    font-size: 13px;
    color: #807d7d;
}

.content-but button:focus {
    outline: none;
}

.content-but span {
    position: relative;
    top: 3px;
    font-weight: 900;
}

.no-serials {
    height: 100%;
    margin-top: 100px;
    color: #3D3D3D;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}